.signInButton{
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--grey9);
  border: none;

  color: var(--white);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;


  padding: 1rem;

  svg{
    width: 20px;
    height: 20px;
  }
  
  svg:first-child{
    margin-right: 1rem;
  }

  svg.closeIcon{
    margin-left: 1rem;
  }

  
  &:hover {
    filter:brightness(0.8)
  }
  transition: 200ms;
}