.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--grey9);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;



  img{
    height: 4rem;
  }

  nav {
    height: 5rem;
    margin-left: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
   
      height: 5rem;
      line-height: 5rem;
      color: var(--grey5);

      transition: color 300ms;

      //toda ancora secundária terá margin left
      & + a{
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active{
        color: var(--white);
        font-weight: bold;
      }
      
      &.active::after{
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;

        position: absolute;
        background-color: var(--green5);
        bottom: 1px;
        left: 0;
      }
    }
  }

  >button {
    margin-left:auto;
  }

}

